a  {
  text-decoration: none;
  cursor: pointer; 

}

li  a:hover {
  text-decoration: underline;
}

a {
  color: inherit;
}

.topright1 {
  padding: 10px 3px 0px 5px;
  margin: 5px;
  font-size: 13px;
}

.topright2 {
  padding: 10px;
  margin: 5px 6px 0px 3px;
  font-size: 13px;
}

.topright3 {
  padding: 0px;
  margin: 5px 10px 0px 0px;
  display: block;
}

.shastak {
  padding: 8px 12px;
  margin: 0px 20px 0px 5px;
  background-color: rgb(17, 142, 224);
  border: none;
  color: white;
  font-size: 13px;
  font-weight: bold;
}


.n1, .n2, .n3 {
  list-style-type: none;
  display: inline;
  line-height: 50px;
  width: 100%;
  font-family: arial, sans-serif;
}

li {
  float: right;
}


/*end of the top navbar work*/

input[type=text] {
  display: flex;
  height: 50px;
  width: 600px;
  padding: 12px;
  margin: 25px;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-sizing: border-box;

}

input[type=text]:hover  {
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.searchzone {
  margin: 200px;
}


.dastak {
  color: rgb(95, 99, 104);
  background-color: rgb(242, 242, 242);
  cursor: pointer;
  font-family: arial,sans-serif;
  border: 0cm;
  border-radius: 4px;
  width: 11;
  padding: 0px 16px 0px 16px;
  height: 30px;
  margin: 10px 5px;
  font-size: 14px;
  min-width: 54px;
}



/*start of the bottom navbar work*/
footer {
  display: inline-block;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: #f2f2f2;
  color: #f2f2f2;
  font-size: 14px;
  
}



.left1 {
  text-align: left;
  margin: 10px;
  line-height: 40px;
  color: rgb(95, 99, 104);

 }
 .left2 {
  text-align: left;
  margin: 10px;
  line-height: 40px;
  color: rgb(95, 99, 104);

 }
 .left3 {
  text-align: left;
  margin: 15px;
  line-height: 40px;
  color: rgb(95, 99, 104);

 }
 .left4 {
  text-align: left;
  margin: 15px 750px 15px 15px;
  line-height: 40px;
  color: rgb(95, 99, 104);

 }
 
 .right1 {
  text-align:right;
  margin: 15px;
  line-height: 40px;
  color: rgb(95, 99, 104);

}
.right2 {
  text-align: right;
  margin: 15px;
  line-height: 40px;
  color: rgb(95, 99, 104);

}
.right3 {
  text-align:right;
  margin: 15px;
  line-height: 40px;
  color: rgb(95, 99, 104);
}

